<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="basic">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Basic</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="posts">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="plugin">
      <ion-icon name="extension-puzzle"></ion-icon>
      <ion-label>Plugin</ion-label>
    </ion-tab-button>
    
    <ion-tab-button (click)="navigateToDesign()">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Design</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
